{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} Create Quiz {% endblock %}</h1>
    <div>
        <form method="post">
            {% for i in range(count)%}
                <input name="question{{ i }}" type="text" placeholder="Question" required>
                <div>
                    <input name="answer1{{ i }}" type="text" placeholder="answer1" required>
                    <input name="answer2{{ i }}" type="text" placeholder="answer2" required>
                    <input name="answer3{{ i }}" type="text" placeholder="answer3" required>
                    <input name="answer4{{ i }}" type="text" placeholder="answer4" required>
                </div>
            {% endfor %}
            <button type="submit" name="submit" value="submit">submit</button>
        </form>
    </div>
        
     
{% endblock %}
