{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-brand" name="logout" value="Logout">Log Out</button>
        </nav>

        <h1>{% block title %} Welcome {% endblock %}</h1>
        <h1>Hello {{ username }}</h1>
        
        <div class="container">
            <button class="js-btn" name="createNew" value="createNew">Create new quiz</button>
        </div>

        {% for i in names%}
            <div class="container">
                <h3>{{ i }}</h3>
                <button name="play{{ i }}" value="play{{ i }}" type="submit">Play!</button>
                <button name="delete{{ i }}" value="delete{{ i }}" type="submit">Delete</button>
            </div>
        {% endfor %}

        
    </form>

{% endblock %}
